body {
  padding-top: 20px;
}

#img {
  border-radius: 50px;
  border-color: #eeeeee;
}

#col1 {
  padding-left: 50px;
  padding-bottom: 10px;
}

#col2 {
  padding-left: 60px;
  padding-bottom: 10px;
}

#col3 {
  padding-left: 80px;
  padding-bottom: 10px;
}

#col4 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

a {
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

a:hover {
  text-decoration: none;
  color: black;
}

#blackj {
  padding-left: 100px;
}

#healthfor {
  padding-left: 50px;
}

#water {
  font-size: 20px;
}

#col {
  padding-left: 40px;
}

#coronatrack {
  padding-left: 20px;
}

#projects {
  background-color: #888888;
  color: white;
  padding-left: 40px;
}

#other {
  background-color: #888888;
  color: white;
  padding-left: 40px;
}

#snakebtn {
  padding-left: 90px;
}

#img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
